<div class="welcome mui-z1" >
  <div class="mui-row">
    <div class="mui-col-md-4 mui-text-display3 mui-text-center project-nav">
      <%= link_to 'Projects',projects_path%>
    </div>
    <div class="mui-col-md-3 project-nav"></div>
    <div class="mui-col-md-3 project-nav"></div>
  </div>
</div>
