<p id="notice"><%= notice %></p>

<h1>Listing Attendences</h1>

<table>
  <thead>
    <tr>
      <th>Weixin user</th>
      <th>Message</th>
    </tr>
  </thead>

  <tbody>
    <% @attendences.each do |attendence| %>
      <tr>
        <td><%= attendence.weixin_user.id %></td>
        <td><%= attendence.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
