@import 'mui';

.header {
  @extend .mui-z2;
  height: 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #0097A7;
}

.nav {
	height: 95%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: none;
  background-color: #0097A7;
}

.content {
  @extend .mui-panel,.mui-z1;
  height: auto;
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.t-btn {
  @extend .mui-btn,.mui-z1;
}

.t-btn-ok {
  @extend .mui-btn,.mui-btn-primary,.mui-z1;
}

.t-btn-candel {
  @extend .mui-btn,.mui-btn-primary,.mui-z1;
}

.t-btn-default {
  @extend .mui-btn,.mui-btn-default,.mui-z1;
  background-color: #E0E0E0;
}
