// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome {
  height: 600px;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
