<ul class="mui-tabs">
  <li class="mui-active"><a data-mui-toggle="tab" data-mui-controls="messaging">自动消息回复</a></li>
  <li><a data-mui-toggle="tab" data-mui-controls="custom-menu">自定义菜单</a></li>
  <li ><a data-mui-toggle="tab" data-mui-controls="basic-info">基础信息</a></li>
</ul>
