<%= link_to '新建', new_offical_account_path, class:'mui-pull-right t-btn-default'%>
<div class="mui-tab-pane" id="pane-weixin">
  <table class="mui-table mui-table-bordered">
    <thead>
      <tr>
        <th>名称</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @offical_accounts.each do |offical_account| %>
        <tr>
          <td><%= offical_account.name %></td>
          <td><%= link_to '管理', offical_account ,class:'t-btn-default'%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
