<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @offical_account.name %>
</p>

<%= link_to 'Edit', edit_offical_account_path(@offical_account) %> |
<%= link_to 'Back', offical_accounts_path %>
