<div class='mui-row'>
  <%= render partial: 'sidebar'%>
  <div class="mui-col-md-10">
    <div class="mui-tab-content">

      <div class="mui-tab-pane mui-active" id="messaging">
        <%= render partial:'messaging'%>
      </div>
      <div class="mui-tab-pane" id="custom-menu">

      </div>
      <div class="mui-tab-pane mui-active" id="basic-info">

      </div>
    </div>
  </div>
</div>
